# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Jupyter notebook
- Rstudio
- Anaconda

## Author Giuseppe Labriola

Some of the popular languages that Data Scientists use are:
 - R
 - Python
 - SQL
 - Java
 - MATLAB
 - Scala
 - Julia
 - SAS
 - C/C++

Some of the commonly used libraries used by Data Scientists include:

 - Pandas
 - Numpy
 - Matplotlib
 - Scikit-learn
 - TensorFlow 
 - Keras 
 - PyTorch
 - ggplot2
 - dplyr
 - tidyr
 - caret

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335